name: mermaid_diagrams

on:
  pull_request:
    paths:
      - '**/*.md'

jobs:
  build:
    runs-on: ubuntu-24.04
    permissions:
      actions: read
      contents: write
      pull-requests: write

    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Render images from Mermaid diagrams
        uses: nielsvaneck/render-md-mermaid@3ab9efe2cd2e33157c2b2dcc34f1eb16accb29c9  # v3

      - name: Get added files
        id: getfile
        run: |
          files=$(git status --porcelain | grep -e '.*\.svg$' -e '.*\.png$' | xargs | sed -e "s|??||g")
          echo "New files: ${files}"
          echo "files=${files}" >> $GITHUB_OUTPUT

      - name: Set up Python 3.13
        uses: actions/setup-python@v6
        with:
          python-version: '3.13'

      - name: Graphics files added
        run: |
          echo ${{ steps.getfile.outputs.files }}
          python -m pip install --upgrade pip wheel tox
          tox -e md -- ${{ steps.getfile.outputs.files }}

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@84ae59a2cdc2258d6fa0732dd66352dddae2a412  # v7.0.9
        id: cpr
        with:
          branch: cpr/updated-diagrams
          base: ${{ github.head_ref }}
          labels: |
            actions
          sign-commits: true
          delete-branch: true
          title: '[MMDC] New mermaid diagrams extracted.'
          body: |
            Update report
            - Auto-generated by [create-pull-request][1]

            [1]: https://github.com/peter-evans/create-pull-request
          draft: false

      - name: Check outputs
        run: |
          echo "Pull Request Number - ${{ env.PULL_REQUEST_NUMBER }}"
          echo "Pull Request Number - ${{ steps.cpr.outputs.pr_number }}"
